/* Inserta tu código de la página contacto acá */
.contacto h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.contacto h4{
    margin-top: 40px;
}
.contacto p{
    font-size: 16px;
    margin-bottom: 35px;
}
.contacto .formulario{
    width: 60%;
    margin: auto;
    margin-bottom: 30px; 
}
.contacto .formulario input{
    background: #eeeeee;
    border: rgba(0, 0, 0, 0);
    border-top: 2px solid #a59b9b;
    border-left: 2px solid #a59b9b;
}
.contacto textarea{
    width: 100%;
    background: #eeeeee;
    border: rgba(0, 0, 0, 0);
    border-top: 2px solid #a59b9b;
}
.contacto .box{
    padding-left: 0;
    list-style: none;
    padding-bottom: 20px;
}
.contacto .box li{
    font-size: 14px;
    color: #000;
}
.contacto .lista{
    width: 100%;
}
.contacto span{
    float: right;
    text-align: right;
    margin-bottom:
}
.contacto button{
    background: #000;
    width: 40%;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    position: relative;
    margin-top: 20px;
}
