/* Inserta tu código de la página contacto acá */
.contacto h2{
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}
.contacto p{
    font-size: 18px;
    margin-bottom: 35px;
}
.formulario{
    width: 60%;
    margin: auto;
    margin-bottom: 30px; 
}
.formulario input{
    background: #eeeeee;
    border: rgba(0, 0, 0, 0);
    border-top: 2px solid #a59b9b;
    border-left: 2px solid #a59b9b;
}
textarea{
    width: 100%;
    background: #eeeeee;
    border: rgba(0, 0, 0, 0);
    border-top: 2px solid #a59b9b;
}
.box{
    padding-left: 0;
}
.lista ul{
    width: 100%;
}
.box li{
    list-style: none;
}
.ejemplo{
    float: right;
}
.ejemplo{
    text-align: right;   
}
.contacto button{
    background: #000;
    width: 40%;
    padding: 5px 0;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    position: relative;
    margin-top: 20px;
}

