
*{
   /* font-family:"Roboto";*/
   
/*--SECCION TITULAR--*/
}
.titular
{
    font-size: 45px;
    text-align: center;
   
}
.titular a
{
    color: #000;
   
}
.iconos
{
    list-style: none;
    display:inline-flex;
    color: #eeeeee;
    padding: 10px;
    text-align: center;
}
.photo-portada small
{
    font-size: 12px;
    color: #fff;
}
.photo-portada1 small
{
    font-size: 12px;
    color: #fff;
}
.photo-portada2 small
{
    font-size: 12px;
    color: #fff;
}
.iconos .face, .tui, .goo
{ 
    color: #00689d;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    padding: 4px 4px;
    border-bottom: 3px solid #00689d;
    margin: 3px;
    font-size: 11px;
    margin-left: 10px;
    border-radius: 4px;
    width: 25px;
}

.i-twitter .tui
{   
    color: #00adf1;
    border-bottom: 3px solid #00adf1;
}
.i-google .goo
{
    color: #d33e2f;
    border-bottom: 3px solid #d33e2f;
}

.sombra1
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.91+82 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.91) 82%, rgba(0,0,0,0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */
}
.sombra2
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.91+82 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.91) 82%, rgba(0,0,0,0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */
}
.photo-portada
{
    background-image: url(../image/img_grid_principal.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    padding-bottom: 0%;
    margin-top: 0;
}
.photo-portada1
{
    background-image: url(../image/img_grid_secundario.jpg);
    background-size: cover;
    background-position: top;
    margin-top: 0px;
}
.photo-portada2
{
    background-image: url(../image/img_grid_secundario.jpg);
    background-size: cover;
    background-position: top;
    margin-top: 35px;
}


.mensaje1 h4
{
    font-size: 34px;
    padding-top:70%;
    padding-bottom: 2%;
    margin: 0px;
    text-align: left;
    color: #fff;
    margin-left: 20px;
}
.mensaje1 h4 a
{
    color: #fff;
}
.mensaje2 h4 a
{
    color: #fff;
}
.mensaje2 h4
{
    font-size: 20px;
    padding-top:25%;
    margin-bottom: 5%;
    margin: 0px;
    text-align: left;
    color: #fff;
    padding-bottom: 2%;
    margin-left: 20px;
}
/*-- END SECCION TITULAR--*/

/*--NOTICIAS ESPECIALES--*/
body a:hover{
    text-decoration: none;
}
     /*--end divisor--*/

.separador .divisor{
  border: 2px solid rgba(180, 5, 5, 0.72);  
}
.separador h3, span{
  transform: translateY(-28px)
}
.separador span{
    background: #c71100;
    color: #fff;
    padding: 3px 5px;
}
     /*--end divisor--*/

.special{
    text-align: center;
    margin-bottom: 50px;
}
.title-especiales{
    color: #fd1616;
     padding: 6px 0;
}
.block-special{
    border: 2px solid rgba(137, 130, 130, 0.21);
    margin-bottom: 30px;
   
}
.contraste{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.91+82 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.91) 82%, rgba(0,0,0,0.91) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.91) 82%,rgba(0,0,0,0.91) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); /* IE6-9 */
}
.photo{
    background-image: url(../image/NS1.jpg);
    background-size: cover;
    background-position: top;
}
.photo1{
    background-image: url(../image/ns3.jpg);
    background-size: cover;
    background-position: top;
}

.photo2{

    background-image: url(../image/NS2.jpg);
    background-size: cover;
    background-position: top;
}
.photo3{
    background-image: url(../image/NS4.png);
    background-size: cover;
    background-position: bottom;
}
.contraste h4{
   color: #fff;
   padding: 160px 0 5px;
}
.text h5{
    padding: 7px 0;
    color: #000;
}

/* Suscribete */
.suscribete{
    background: url(../image/archive-sidebar-bg.jpg);
    padding-left: 3%;
    padding-right:3%;
    padding-top: 10%;
    padding-bottom: 5%;
    margin: 4% 0; }
    .suscribete .fondo-blanco {
        background: #fff;
        position: relative;
        margin-top: 7%;
        padding: 5% 5% 5%; }
    .suscribete .img-suscribe {
        position: relative;
        margin-top: -50px; }
    .suscribete p {
        font-size: 22px;
        margin-top: 15px; }
    .suscribete form .input-group input:focus {
        outline: none;
        border: 1px solid #555;
        box-shadow: 0 0 3px #aaa; }
    .suscribete form .input-group input {
        box-shadow: inset 0 0 1px 0px;
        background: #f3f3f3;
        border-radius: 10%;
        margin: 0 5%; }
    .suscribete form .input-group {
        width: 90%; }
    .suscribete :-moz-placeholder {
        color: #ccc; }
    .suscribete ::-webkit-input-placeholder {
        color: #ccc; }
    .suscribete .btn {
        margin: 4% 0;
        padding: 3% 10%;
        width: 90%;
        background: #c00000;
        color: #fff;
        border: none; }
    .suscribete .btn:hover{
        color: #f7ee9b; }

/* Aweita */
.aweita {
    border: 1px solid #ccc;
	padding: 5% 5% 0 5%;
	margin: 5% 0; }
    .aweita .logo-aweita {
        padding-left: 21%;
        padding-right: 21%;
        padding-bottom: 5%;
        width: 100%; }
    .aweita .contenido-aweita {
        display: inline-flex;
        padding: 8px; }
    .aweita .contenido-aweita img {
        border: 4px solid #a0a0a0;  
        max-width: 100%; }
    .aweita .texto-aweita {
        font-size: 0.9em;
        margin-left: 10px;
        color: #000;
        text-decoration: none; }
    .aweita .texto-aweita:hover {
        color: #15367e; }
    .aweita .web-aweita {
        font-size: 1em;
        margin-left: 22%;
        margin-right: 22%;
        margin-top: 6%;
        margin-bottom: 0;
        border-bottom: 5px solid #872f85; }         
    .aweita .web-aweita a {
        color: #872f85;
        text-decoration: none; }
    .aweita .web-aweita a:hover {
        color: #b60ad0; }

/*Fotos destacadas*/
.img-dest {
	width:100%;
	border:2px solid gray;
}
.fotos-destacadas {
	padding-top:18%;
	margin-top:8%;
	margin-bottom:8%;
	border-top:0.4em solid #6f8798;
	position:relative;
}
.tittle-dest {
	padding: 2%;
	position: absolute;
	background-color: #6f8798;
	top: -10px;
	left:24%;
	font-size:16px;
	font-family: "Oswald";
	color: white;
}
.destacado a {
	color:black;
}
.img-dest {
	border:4px solid #6f8798;
	margin-bottom:4%;
}

/* Inserta tu código de la página home/index acá */

/*SECTION ULTIMAS*/
.ultimas-content{
    padding-left: 18px;
}
.ultimas h4{
    color: #8d879b;
}
.ultimas h6{
    color: #8d879b;
    font-size: 13px;
}
.ultimas p{
    font-size: 16px;
   
}
.ultimas .ult-icono{
    margin-top: -60px;
    margin-left: 175px;
}
.ultimas .ult-info{
    font-size: 14px;
    color: #868c92;
    
}
.ultimas .col-md-4{
    padding: 0px;
}
.you {
    
    font-size: 20px;
    color: #d90c0c;
}
.barra-coment{
    color: #61798a;
    display: inline-block;
    font-size: 11px;
}
.ultimas-noticias hr{
    width: 100%;
}

.ultimas-noticias button{
    background-color: #d90c0c;
    color: #ffffff;
    margin:0px auto;
    margin-bottom: 20px;   
}
.ultimas-noticias button:hover{
    background-color: #d90c0c;
    color: #ffffff;
}
