/*--NOTICIAS ESPECIALES--*/
@media screen and (max-width:970){
    aside{
        display: none;
    }
}
/*--SECTION TITULAR--*/
@media (max-width:522px){
  .titular a {
    font-size: 20px;
      padding: 2px;
      margin: 0;
    }
    
  .photo-portada1{
      margin-top: 25px;
    } 
    
  
}