*{outline:1px solid rgba(255,0,0,0.4);}
.hero-banner
{
    background-image: url(../image/banner-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.degradado
{
    background-color: rgba(0,0,0,0.4);   
}
.img1-hero
{
    background-image: url(../image/img_grid_principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img2-hero
{
    background-image: url(../image/img_grid_principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img3-hero
{
    background-image: url(../image/img_grid_principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pie-img
{
   background: rgb(0,0,0);
   color: #fff;
    
    
}


